@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: bebas;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.second-color {
  color: #C69749;
}

.tercer-color {
  color: #e5e5e5;
}

.cuarto-color {
  color: #ff9d00;
  font-family: bebas;
}

.quinto-color {
  color: #000000;
}

.btn {
  color: #C69749;
  background-color: #36626b;
  font-family: bebas;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: bebas;
  src: url(../assets/font/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: bebas;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #20150e;
  font-family: bebas;
  height: 60px;
  font-size: 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hover-nav {
  border-bottom: 2px solid rgb(30, 10, 10);
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.hover-nav:hover {
  border-bottom: 2px solid #ff9d00;
  padding-bottom: 6px;
  transition: all 0.3s ease-in-out;
}

.herobg {
  background-position: center;
  background-size: cover;
  background-color: #443226;
  font-family: bebas;
  font-size: 40px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.herobg .hero {
  background-attachment: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  width: 90%;
  height: 75vh;
  display: flex;
  align-items: flex-start;
}

.herobg .hero__contenedor {
  padding: 100px 50px;
  color: #735F32;
  width: 60%;
  gap: 10px;
}

.herobg .hero__contenedor p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding-right: 150px;
  margin: 15px 0;
  color: #cfa544;
}

.herobg .hero__titulo {
  font-family: bebas;
  font-size: 80px;
  color: #ff9d00;
}

.hover-me {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hover-me:hover {
  background-color: #443226;
  color: #ff9d00;
  cursor: pointer;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

#margen-fila-menu {
  margin-top: 1em;
}

.column-2.carta {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-evenly;
}

.plato-carta {
  display: flex;
  align-items: center;
  border: 2px solid #aa791d;
  border-radius: 6px;
  margin-top: 2em;
}

.img-plato-carta {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-plato-carta img {
  max-width: 100px;
  max-height: 75px;
}

.title-plato-carta {
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-top: none;
  flex-basis: 40%;
  padding: 0 1rem;
  font-size: 10px;
  justify-content: center;
}

.title-plato-carta p {
  font-family: bebas;
  font-size: 16px;
}

.precio-plato-carta {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  font-family: bebas;
  font-size: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

* {
  box-sizing: border-box;
}

body {
  background: #181818;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #C69749;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper>* {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button {
  background: #C69749;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}

.gmap_iframe {
  height: 400px !important;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.1em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #C69749;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #944f0f;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: rgba(255, 255, 255, 0.3);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper>* {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */