$font-main: bebas;
$color-second: #C69749;
$color-third:#ff9d00;
$color-four: #e5e5e5;
$color-background1:#36626b;
$color-background2:#443226;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: $font-main;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.second-color {
color:$color-second;}

.tercer-color {
    color: #e5e5e5;
}

.cuarto-color {
    color: $color-third;
    font-family: $font-main;
}

.quinto-color {
    color: #000000;
}

.btn {
    color: #C69749;
    background-color: #36626b;
    font-family: $font-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

